button {
    background-color:#47535E;
    color:#EAF0F1;
    cursor:pointer;
    text-align:center;
    text-decoration:none;
    border:none;
    font: 15px "Century Gothic", Futura, sans-serif;
}

button:hover {
    background-color:#F8F47C;
    color:grey;
}

body {
    background-color:#EAF0F1;
    font: 15px "Century Gothic", Futura, sans-serif;
}